.toolbar {
  position: absolute;
  right: 0;
  margin: 20px;
  max-width: 180px;

  .button {
    width: 100%;
    padding: 20px;

    &:disabled {
      opacity: 0.5;
      text-decoration: line-through;
    }
  }

  .label {
    color: white;
    text-align: center;
    padding: 20px 0;
    width: 100%;
  }

  .previewContainer {
    outline: 1px solid white;
    width: 100%;
    aspect-ratio: 1 / 1;
    position: relative;
  }

}

.transport {
  display: flex;
  flex-flow: row nowrap;

  .button {
    padding: 12px;
  }
}

.absoluteFill {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.fullscreenPreviewModal {
  flex: 1;
  aspect-ratio: 1 / 1;
  height: 100%;
  background-color: black;
  position: relative;
}

.fullscreenPreviewModalOverlay {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;

  background-color: black;
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: center;
}
