.app {
  display: flex;
  flex: 1;
  background-color: lightgray;
}

.workspace {
  background-color: black;
  display: flex;
  flex: 1;

  touch-action: none;
}

.toolbar {
  display: flex;
  flex-flow: column;

  position: absolute;
  right: 0;
  padding: 20px;
  // background-color: hsla(0, 0%, 100%, 0.1);

  .button {
    padding: 40px;
  }

  .label {
    color: white;
    text-align: center;
    padding: 20px;
  }
}
