.app {
  position: relative;
  display: flex;
  flex: 1;
  background-color: lightgray;
}

.mainWorkspace {
  background-color: black;
  touch-action: none;
}

.toolbar {
  display: flex;
  flex-flow: column;

  position: absolute;
  right: 0;
  padding: 20px;
  max-width: 200px;

  .button {
    padding: 40px;
  }

  .label {
    color: white;
    text-align: center;
    padding: 20px;
  }

  svg {
    outline: 1px solid white;
  }
}

.absoluteFill {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.workspaceContainer {
  display: flex;
}

.onionSkinWorkspace {
  pointer-events: none;
  opacity: 0.3;
}
